<h1>
  control panel
</h1>
<div class="speed">

<button mat-mini-fab style="color:black; background-color: silver" (click) ="changeRotateSpd(0)"  > stationary</button>
<button mat-mini-fab style="color:green; background-color: silver" (click) ="changeRotateSpd(0.008)"  > slow</button>
<button mat-mini-fab style="color:yellow; background-color: silver" (click) ="changeRotateSpd(0.015)"  > normal</button>
<button mat-mini-fab style="color:red; background-color: silver" (click) ="changeRotateSpd(0.04)"  > fast</button>
</div>